/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2018, 10:07:00 PM
    Author     : dinom
*/


/**********MAIN**********/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    display: inline-block;
    height: auto;
    width: 100%;
}

.ui-page{height: 100%;}

iframe{display: block !important;}

footer{
    height: 100px;
    width: 100%;
    margin-top: 0;
    text-align: center;
    background-color: #343434;
    line-height: 100px;
    color: #fff;
    bottom: 0;
}

*:focus {outline: none;}

ul{list-style: none;}

a{
    outline: none;
    text-decoration: none;
    color: #000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

/*PART OF COMMON HOVER EFFECT*/

.shop-icon, .shop-icon-mob{
    background-color: #434342;
    margin-top: 8px;
}

.shop-icon:hover{background-color: #e85b5b;}

#mc-embedded-subscribe:before, .sendbutton:before, .button-location:before, #ct-emp:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #343434;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#mc-embedded-subscribe:hover,  
#mc-embedded-subscribe:focus, 
#mc-embedded-subscribe:active,
.sendbutton:hover,
.sendbutton:focus, 
.sendbutton:active, 
.button-location:hover, 
.button-location:focus, 
.button-location:active,  
#ct-emp:hover,
#ct-emp:focus,
#ct-emp:active{color: #fff;}

#mc-embedded-subscribe:hover:before,
#mc-embedded-subscribe:focus:before,
#mc-embedded-subscribe:active:before,
.sendbutton:hover:before, 
.sendbutton:focus:before, 
.sendbutton:active:before, 
.button-location:hover:before, 
.button-location:focus:before, 
.button-location:active:before,
#ct-emp:hover:before, 
#ct-emp:focus:before,
#ct-emp:active:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*PAGINATION*/

.pagination-main{
    margin-top: 30px;
    width:100%;
    display: inline-block;
}

.pagination{
    display: inline-block;
    text-align: center;
}

.pagination li{
    margin-right: 10px;
    width: auto;
    float: left;
}

.pagination li:last-child{margin-right: 0;}

.pagination li a{
    display: inline-block;
    width:45px;
    border:2px solid #e85b5b;
    padding: 10px 15px;
}

.pagination li a:hover{border: 2px solid #000;}

.disabled {display: none;}

.pagination .active a{border: 2px solid #000;}

/***********CONTACT FORM************/

.contact-fm label{display:none;}

@media(min-width: 300px){
    
    /*********COMMON - HEADER*********/

    header{
        height:70px;
        background-color: #fff;
        width:100%;
        position: fixed;
        z-index: 9999;
    }

    .logo-header{
        margin-top: 20px;
        margin-left: 20px;
        display: inline-block;
    }

    /*********COMMON - NAVIGATION*********/
    
    .menu-icon, .shop-icon-mob{
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
    }
    
    .shop-icon-mob{margin-top: 22px;}
    
    nav{
        background-color: #db5555;
        padding: 0;
        display: none;
        margin-top: 11px;
    }

    nav ul{
        margin: 0;
        padding:0;
        width: 100%;
        display: inline-block;
    }

    nav ul li{
        height: 50px;
        width:100%;
        line-height:50px;
        padding: 0;
        text-align:center;
        border-bottom: 1px solid #ada4a4;
    }

    nav ul li:last-child{
        display:none;
        border-bottom: none;
    }

    nav a{color: #fff;}
    
    .content-mid nav{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        text-align: left;
        display: inline-block;
        background-color: #fff;
    }
    
    .content-mid a, .pr-nav a{color: #000;}
    
    .content-mid a:hover, .pr-nav a:hover{color: #db5555;}
    
    .pr-nav{
        width: 100%;
        display: inline-block;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    
    .pr-nav nav{
        display: inline-block;
        margin-top: 20px;
        background-color: #fff;
        padding: 0;
        margin-top: 0;
    }
    
    /*********COMMON - TITLES*********/

    h1{
        color: #e85b5b;
        margin-bottom: 50px;
        text-align: center;
        font-weight: 400;
        position: relative;
        font-size: 2.5em;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }

    .heading-border:after{
        content:' ';
        position: absolute;
        margin-top: 10px;
        top:100%;
        left:50%;
        width: 60px;
        border:1px solid #fff;
        border-radius:2px;
        transform:translateX(-50%);
    }

    .pagination-main{text-align: center;}

    .fp-category h1, .fp-shops h1, .fp-whywe h1, .fp-testimonials h1, .contact-fm h1, .newsletter h1, .cont-info h1{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    
    
    /*********COMMON - BANNERS*********/

    .banner-head{
        width: 100%;
        height: 550px;
        background-position: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-head h1{
        padding-top: 150px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        color: #fff;
        font-size: 3.2em;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    
    .ct-head h1{padding-top: 110px !important;}
    
    /*********COMMON - PAGE - COVERS*********/
    
    .ab-head h1, .cont-head h1{text-align: left;}
    
    /*********COMMON - CONTACT*********/
    
    .contact-fm{
        position: relative;
        width: 100%;
        padding-top: 40px;
        text-align: center;
    }

    .contact-fm h1{
        padding-left: 20px;
        padding-right: 20px;
        color: #e85b5b;
    }

    .contact-fm .heading-border:after{border: 1px solid #000;}

    #contactform{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing:border-box;
        width: 100%;
    }

    .contact-info-group{height: auto;}

    .contact-info-group input{
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        padding-left: 10px;
        box-sizing:border-box;
        border: 2px solid #343434;
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        outline: none;
    }

    .contact-info-group textarea{
        width: 100%;
        height: 100px !important;
        border: 2px solid #343434;
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        padding-top: 10px;
        padding-left: 10px;
        resize:none;
        outline: none;
    }

    #contactform p{
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sendbutton{
        height: 50px;
        border-style:none;
        width: 200px;
        background-color: #e85b5b;
        color: #fff;
        margin: 0 auto;
        margin-top: 15px;
        font-family: 'Raleway', sans-serif;
        font-size:1em;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 0 1px transparent;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
    }
    
    .contact-msg, .contact-msg-nojs{
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    
    .help-block{
        margin-top: -10px !important;
        margin-bottom: 10px;
        color:#e85b5b;
    }
    
    .field-formcontact-message .help-block{margin-top: 0 !important;}
    
    .contact-msg h1, .contact-msg-nojs h1{margin-top: 40px;}

    /*********COMMON - NEWSLETTER*********/

    .newsletter{
        margin-top: 50px;
        padding-top: 40px;
        background-color: #e85b5b ;
        background-repeat: no-repeat;
        height: 362px;
    }
    
    .newsletter h1{
        color:#fff;
        margin-bottom: 40px;
    }
    
    .newsletter h3{
        text-align: center;
        color: #fff;
        font-size: 1.2em;
        font-weight: 400;
    }

    .newsletter form{
        margin-top: 30px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 35px;
        box-sizing: border-box;
    }

    #news-input{
        border: none;
        width: 300px;
        height: 40px !important;
        margin-bottom: 15px;
        padding-left: 10px;
        box-sizing:border-box;
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        outline: none;
        border: 1px solid #fff;
    }
    
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    #mc-embedded-subscribe{
        height: 50px;
        width: 200px !important;
        border-style:none;
        background-color: #fff;
        color: #e85b5b;
        margin: 0 auto;
        margin-top: 15px;
        font-family: 'Raleway', sans-serif;
        font-size:1em;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 0 1px transparent;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
    }
    
    /*********COMMON - SOCIAL*********/
    
    .sc-main{
        margin-top: 50px;
        padding-top: 40px;
        box-sizing: border-box;
        background-color: #e85b5b;
    }

    .sc-main h1{
        color: #fff;
        margin-top: 0;
    }

    .sc-icons{
        width: 52px;
        margin: 0 auto;
    }
    
    .sc-icons i{color: #343434;}
    
    .sc-icons i:hover{color: #494949;}

    .sc1, .sc2, .sc3, .sc4{
        display: inline-block;
        margin-bottom: 40px;
    }
    
    /*****************CONTACT*****************/
    
    .cont-news{margin-top: 0;}
}

@media(min-width: 410px){
    
    /*********COMMON - PAGE - COVERS*********/
    
    .ab-head h1, .cont-head h1{padding-top: 200px;}
    
    /************NEWSLETTER************/
    
    #news-input{
        width: 380px;
    }
    
    /*********COMMON - SOCIAL*********/
    
    .sc-main h1{font-size: 2.5em;}
}

@media(min-width: 480px){
    
    /*********COMMON - PAGE - COVERS*********/
    
    .ab-head h1, .cont-head h1{
        font-size: 3.8em;
        padding-top: 200px;
    }
    
    .cont-head h1{padding-top: 160px !important;}
    
    /*********COMMON - SOCIAL*********/
    
    .sc-main h1{font-size: 2.7em;}
    
}

@media(min-width: 600px){
    
    .cont-head h1{padding-top: 200px !important;}
    
    .ct-head h1{padding-top: 130px !important;}
    
    /************NEWSLETTER************/
    
    #news-input{width: 100%;}
    
    #mc_embed_signup_scroll{
        width: 550px; 
        margin: 0 auto;
    }
    
    /*********COMMON - SOCIAL*********/
    
    .sc-icons{
        width: 100%;
        height:auto;
        
        padding-bottom: 50px;
        box-sizing: border-box;
        margin-top: 20px;
        text-align: center;
    }

    .sc1, .sc2, .sc3, .sc4{
        margin-bottom: 0;
        margin-right: 50px;
    }

    .sc4{margin-right: 0;}
}

@media(min-width: 670px){
    
    /*********COMMON - PAGE - COVERS*********/
    
    .ab-head h1, .cont-head h1{
        padding-top: 225px;
        font-size: 3.8em;
    }

    .ct-head h1{padding-top: 180px !important;}
}

@media(min-width: 768px){
    
    /*********COMMON - PAGE - NAVIGATION*********/

    .menu-icon{display: none;}
    .shop-icon-mob{display:none;}

    nav{
        background-color: transparent;
        display: inline-block;
        float: right;
        margin-right: 20px;
        width: auto;
    }

    nav ul li{
        width:auto;
        float: left;
        margin-right: 30px;
        border-bottom: none;
    }

    nav ul li:last-child{
        margin-right: 0;
        display: block;
    }

    nav a{
        color: #000;
        font-size: 0.9em;
    }

    nav a:hover{color: #e85b5b;}
    
    .content-mid nav{
        float: left;
        margin: 0;
        margin-top: -30px;
        margin-bottom: 50px;
    }
    
    .pr-nav nav{float:left;}
    
    /*********COMMON - PAGE - COVERS*********/
    
    .ab-head h1, .cont-head h1{
        padding-top: 225px !important;
        font-size: 4.2em;
        margin:0 auto;
        text-align: center;
    }
    
    .cont-head h1{width: 700px !important;}
    
    .ct-head h1{padding-top: 180px !important;}
}

@media(min-width: 850px){}

@media(min-width: 960px){
    
    /*********COMMON - PAGE - COVERS*********/
    
    .ab-head h1, .cont-head h1{width: 850px;}
    
    /*********COMMON - PAGE - SINGLE*********/
    
    .pr-desc h1{margin-top: 80px;}
}

@media(min-width: 1060px){
    
    /*********COMMON - PAGE - COVERS*********/
    
    .ab-head, .cont-head{height: 550px;}  
    
    /*********COMMON - NAVIGATION*********/
    
    .content-mid nav{margin-top: -25px;}
    
    .pr-nav{
        margin-top: -10px;
        margin-bottom: -20px;
    }
    
    /*********COMMON - PAGE - SINGLE*********/
    
    .pr-desc h1{margin-top: 140px;}
}

@media(min-width: 1200px){
    
    /*********COMMON - HOMEPAGE*********/

    .pagination-main{text-align: left;}
    
    /*********COMMON - PAGE - COVERS*********/
    
    .ab-head, .cont-head{height: 550px;}
    
    /*********COMMON - NAVIGATION*********/

    nav{margin-right: 40px;}
    
    .content-mid nav{
        margin-right: 0;
        float: left;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 0;
    } 
    
    .pr-nav{
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    
    .pr-nav nav{
        text-align: left;
        margin-top: 30px;
        width: 1200px;
        float:none;
    }
    
    /*********COMMON - PAGE - SINGLE*********/
    
    .pr-desc h1{margin-top: 180px;}
}

@media(min-width: 1250px){
    
    .content-mid nav{padding-left: 0;} 
}

@media(min-width: 1380px){}

@media(min-width: 1600px){}


/**************LANDSCAPE**************/

/*PHONES*/

@media screen and (min-width: 480px) and (max-height: 320px){

    .cover1 h1, .cover2 h1, .cover3 h1{
        margin-top: 20%;
        font-size: 2.2em;
    }

    .cover1 img, .cover2 img, .cover3 img{
        width: 140px;
        height: 140px;
    }
}

@media screen and (min-width: 530px) and (max-height: 320px){

    .cover1 h1, .cover2 h1, .cover3 h1{
        margin-top: 20%;
        font-size: 2.1em;
    }

    .cover1 img, .cover2 img, .cover3 img{
        width: 130px;
        height: 130px;
    }
}

@media screen and (min-width: 640px) and (max-height: 380px){

    .cover1 h1, .cover2 h1, .cover3 h1{
        margin-top: 20%;
        font-size: 2.4em;
    }

    .cover1 img, .cover2 img, .cover3 img{
        width: 170px;
        height: 170px;
    }
}

@media screen and (min-width: 730px) and (max-height: 420px){

    .cover1 h1, .cover2 h1, .cover3 h1{
        margin-top: 20%;
        font-size: 2.6em;
    }

    .cover1 img, .cover2 img, .cover3 img{
        width: 200px;
        height: 200px;
    }
}

/*TABLETS*/

@media screen and (max-width: 600px) and (min-height: 960px){

    .cover1 h1, .cover2 h1, .cover3 h1{
        margin-top: 50%;
        font-size: 3em;
    }

    .cover1 img, .cover2 img, .cover3 img{
        width: 380px;
        height: 380px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 800px) and (min-height: 1020px){

    .cover1 h1, .cover2 h1, .cover3 h1{
        margin-top: 50%;
        font-size: 3em;
    }

    .cover1 img, .cover2 img, .cover3 img{
        width: 380px;
        height: 380px;
        margin-top: 50px;
    }
}