
@media(min-width: 300px){

    /*****************HOMEPAGE*****************/

    /*GALLERY*/
    
    .carousel {
  background: #222;
}

.carousel-cell {
  width: 100%;
  height: 300px;
  margin-right: 10px;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
}

.carousel.is-fullscreen .carousel-cell-image {
  max-width: 100%;
}

   /* .fp-gallery{
        height: 550px !important;
        width: 100%;
    }

    .carousel-cell{
        width: 100% !important;
        height: 550px;
    }*/

    .flickity-page-dots{display: none;}

    .flickity-prev-next-button{display: none;}

    /*CATEGORY*/

    .fp-category{
        height: auto;
        width: 100%;
        padding-top: 40px;
        box-sizing:border-box;
        position: relative;
    }

    .fp-category .heading-border:after{border: 1px solid #000;}

    .fp-category-list{
        height: auto;
        width: 100%;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .category-1{background-image: url("../img/cat/cat-1.jpg");}
    .category-2{background-image: url("../img/cat/cat-2.jpg");}
    .category-3{background-image: url("../img/cat/cat-3.jpg");}
    .category-4{background-image: url("../img/cat/cat-4.jpg");}

    .category-1, .category-2, .category-3, .category-4, .category-5, .category-6{
        width: 100%;
        height: 250px;
        float:left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        text-align: center;
        position: relative;
        transition: all .5s;
    }

    .fp-zoom{
        height: 300px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .fp-zoom:last-child{margin-bottom: 0;}

    .fp-zoom:hover .category-1, .fp-zoom:focus .category-1, .fp-zoom:hover .category-2, .fp-zoom:focus .category-2, .fp-zoom:hover .category-3, .fp-zoom:focus .category-3, .fp-zoom:hover .category-4, .fp-zoom:focus .category-4{
        transform: scale(1.1);
    }

    .category-6{margin-bottom: 0;}

    .cat-overlay{
        width: 100%;
        height: 250px;
        background-color: #000;
        opacity: 0.25;
        position: absolute;
    }

    .cat-name-1, .cat-name-2, .cat-name-3, .cat-name-4, .cat-name-5, .cat-name-6 {
        position: relative;
        color: #fff;
        text-align: center;
        line-height: 50px;
        font-size: 1.4em;
        font-weight: 500;
        display: inline-block;
        width: 100%;
        height: 50px;
        background-color: #db5555;
    }

    /*SHOPS*/

    .fp-shops{
        margin-top: 50px;
        height: 700px;
        width: 100%;
        background-image: url("../img/store.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 40px;
        text-align: center;
    }

    .shops-overlay{
        height: 700px;
        width: 100%;
        background-color: #000;
        opacity: 0.5;
        position: absolute;
        margin-top: -40px;
    }
    
    .fp-shops h1{color: #fff;}

    .shops-location1, .shops-location2, .shops-location3{
        position: relative;
        padding-left: 20px;
        display: inline-block;
        width: 300px;
    }
    
    .shops-location2, .shops-location3{margin-top:50px;}

    .shops-location1 img, .shops-location2 img, .shops-location3 img{float: left;}

    .location1-address p, .location2-address p, .location3-address p{
        color: #fff;
        padding-top: 20px;
        margin-left: 10px;
        float: left;
        box-sizing: border-box;
        text-align: left;
    }

    .fp-shops a{
        text-decoration: none;
        outline: none;
    }

    .button-location {
        position: relative;
        border: 3px solid #fff;
        text-align: center;
        height: 50px;
        line-height: 47px !important;
        width: 200px;
        margin:0 auto;
        margin-top: 40px;
        color: #fff;
        font-weight: 700;
    }

    /*CATALOG*/

    .fp-download{
        width: 100%;
        background-color: #e85b5b;
        padding-top: 40px;
        padding-bottom: 40px;
        box-sizing: border-box;
        text-align: center;
    }
    
    .fp-download h1{
        color: #fff;
        margin-bottom: 40px;
    }
    
    .fp-download h3{
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
        font-size: 1.2em;
        font-weight: 400;
    }

    .download-row{
        display: inline-block;
        width: 130px;
        text-align: center;
    }
    
    .download-row p{color: #fff;}
    
    .download-row a{
        margin-top: 30px;
        display: inline-block;
    }
    
    .download-row a:first-child{margin-top: 0;}
    
    .download-img{
        display: inline-block;
        margin: 0 auto;
        height: 92px;
        width:130px;
    }

    /*****************PRODUCTS*****************/

    .banner-top img{
        margin-top: 70px;
        width: 100%;
    }

    .content-mid{
        margin-bottom: 30px;
        text-align: center;
    }

    .filter-cont{display: none;}

    .products-cont{
        margin: 40px 20px 0 20px;
        text-align: left;
    }

    .products-title{
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    .products-title h1{
        margin-bottom: 0;
        font-size: 2em;
        display: inline-block;
    }

    .products-cont h2{
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }

    .sg-prod-cont {
        margin-top: 30px;
        border: 1px solid #e5e5e5;
    }

    .products-cont img{
        width: 270px;
        height: 190px;
    }

    .products-cont p{
        text-align: left;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .product-more{
        display: inline-block;
        height: 40px;
        width: 150px;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #e85b5b;
        color: #fff;
        text-align: left;
        padding-left: 45px;
        box-sizing:border-box;
        line-height: 40px;
        font-size: 1em;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
    }

    .product-more::before {
        content: "\f138";
        position: absolute;
        right: 1em;
        padding: 0 5px;
        font-family: "fontawesome";
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .product-more:hover:before, .product-more:focus:before, .product-more:active:before {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    /*****************ABOUT & HOW-TO-SHOP*****************/

    .ab-head{background-image: url("../img/banners/banner7.jpg");}

    .htb-head{background-image: url("../img/banners/banner8.jpg");}
    
    .ab-article .heading-border:after, .ab-work .heading-border:after, .ab-contact .heading-border:after {border: 1px solid #000;}

    .ab-article{
        padding-top: 40px;
        box-sizing: border-box;
        text-align: center;
        position: relative;
    }

    .ab-article h3{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ab-article p, .ab-work-article p{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        line-height: 1.45;
    }
    
    .ab-article a{color:#e85b5b;}

    .ab-ban{
        padding: 60px 20px;
        box-sizing: border-box;
        margin-top: 50px;
        height: auto;
        background-color: #343434;
    }

    .ab-ban h1{
        text-align: left;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        text-transform: lowercase;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 1.4;
        margin-bottom: 0;
    }
    
    .ab-ban h1:first-child{margin-bottom: 30px;}
    
    .ab-ban h1 b{text-transform: uppercase;}

    .ab-ban cite{
        margin-top: 20px;
        color: #fff;
        float: right;
        font-family: 'Roboto';
    }
    
    .ab-work{
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        text-align: center;
        position: relative;
    }

    .ab-work-article:nth-child(2){margin-top: 0;}

    .ab-work-article{margin-top: 60px; display: inline-block;}

    .ab-work-article p{margin-top:30px;}
    
    .ab-work-article a{color:#e85b5b;}

    .ab-pic1, .ab-pic2{
        height: 200px;
        width: 200px;
        border-radius: 100%;
        display: inline-block;
        background-image: url("../img/about/pic1.jpg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .ab-pic2{background-image: url("../img/about/pic2.jpg");}

    .ab-info-group input{border: 2px solid #343434;}
    .ab-contactform textarea{border: 2px solid #343434;}

    /*****************CONTACT*****************/
        
    .cont-head{background-image: url("../img/banners/banner9.jpg");}
    
    .cont-head h1{
        padding-top: 180px;
        box-sizing: border-box;
    }
    
    .cont-info-main{
        margin-top: 50px;
    }
   
    .cont-map{
        height:550px; 
        width:100%; 
        display:inline-block; 
        overflow:hidden;
    }
    
    .cont-map iframe{
        height: 550px;
        width:100%;
        position:relative; 
        border:none;
    }
    
    .cont-info{
        width: 100%;
        height: 600px;
        background-color: #282828;
        margin-top: -5px;
        padding-top: 40px;
        box-sizing: border-box;
        display: inline-block;
    }
    
    .cont-info-detail{
        width: 300px;
        margin: 0 auto;
        color: #fff;
        font-size: 1.2em;
        line-height: 1.5;
    }
    
    .cont-info-detail table tr{
        float: left;
        margin-bottom: 20px;
    }
    
    .cont-td{
        padding-right: 15px !important;
    }
    
    .cont-mob{
        padding-right: 20px !important;
    }
    
    .cont-oib{
        padding-right: 5px !important;
    }
    
    .cont-info-wt{margin-top: 20px;}
    
    .cont-info-wt p:nth-child(2){margin-top: 20px;}
    
    /*****************SINGLE*****************/
    
    .pr-main{
        padding: 20px 20px 0 20px;
        box-sizing: border-box;
    }
    
    .pr-img{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 300px;
        position: relative;
    }
    
    .pr-img img{
        width: 290px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .pr-detail h1{
        margin-top: 40px;
        text-align: left;
        text-transform: none;
    }
    
    .pr-detail table{
        border-collapse: collapse;        
        text-align: left;
        width: 200px;
    }
    
    .pr-detail td{padding-bottom: 15px;}
    
    .pr-detail td:nth-child(even){
        padding-left: 20px;
        box-sizing: border-box;
    }
    
    .pr-detail td input, select{
        width: 80px;
        border:none;
        background-color: #dbdbdb;
        height: 30px;
    }
    
    .pr-detail td input{padding-left: 5px;}
    
    .pr-remark{text-align: left;}
    
    .pr-remark p{font-size: 0.9em;}
    
    .pr-bt-sc{margin-top: 30px;}
    
    .pr-cart-bt{
        height: 40px;
        border-style:none;
        width: 200px;
        background-color: #e85b5b;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size:1em;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 0 1px transparent;
    }
    
    .pr-share{
        display: inline-block;
        margin-top: 20px;
        box-sizing: border-box;
    }
    
    .pr-share i{margin-right: 20px;}
    
    .pr-share i:nth-child(4){margin-right: 0;}
    
    .pr-share i:hover{
        color: #e85b5b;
        cursor: pointer;
    }
    
    .pr-desc{margin-top: 30px;}
    
    .pr-desc h1{
        font-size: 1.6em;
        margin-bottom: 20px;
        text-align: left;
    }
    
    /*****************CART*****************/

    .ct-main{
        text-align: center;
        display: inline-block;
        padding-top: 40px;
        box-sizing: border-box;
        width: 100%;
    }
    
    .ct-head{background-image: url("../img/banners/banner10.jpg");}
    
    .ct-main .heading-border:after{border: 1px solid #000;}
    
    .ct-main-tb{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        display: inline-block;
    }
    
    .ct-main table{
        font-size: 0.9em;
        margin: 0 auto;
    }
    
    .ct-main td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    .ct-main tr:nth-child(even) {background-color: #dddddd;}
    
    .ct-main td{font-size: 1.1em;}
    
    .ct-bt-qty, .ct-bt-del{
        height: 30px;
        border-style:none;
        width: 60px;
        background-color: #e85b5b;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size:1em;
        cursor: pointer;
        box-shadow: 0 0 1px transparent;
    }
    
    .ct-bt-qty{margin-top: 10px;}
    
    .ct-qty{
        width: 40px;
        padding-left: 5px;
        box-sizing: border-box;
    }
    
    #ct-emp{
        height: 50px;
        border-style:none;
        width: 200px;
        background-color: #e85b5b;
        color: #fff;
        margin: 0 auto;
        margin-top: 50px;
        font-family: 'Raleway', sans-serif;
        font-size:1em;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 0 1px transparent;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
    }
}

@media(min-width: 410px){

    /*****************HOMEPAGE*****************/
    
    /*GALLERY*/
    
    .cover1 h1, .cover2 h1, .cover3 h1{margin-top: 60%;}

    .cover1 img, .cover2 img, .cover3 img{
        width: 280px;
        height: 280px;
    } 

    /*CATEGORY*/

    .category-1, .category-2, .category-3, .category-4, .category-5, .category-6{height: 330px;}

    .fp-zoom{height: 390px;}

    .cat-name-1, .cat-name-2, .cat-name-3, .cat-name-4, .cat-name-5, .cat-name-6 {
        font-size: 1.5em;
        height: 60px;
        line-height: 60px;
    }

    .cat-overlay{height: 330px;}

    /*****************PRODUCTS*****************/

    .products-cont img{
        width: 350px;
        height: 240px;
    }

    /*****************ABOUT*****************/

    .ab-article h1, .ab-work h1, .ab-contact h1{font-size: 2.5em;}

    .ab-ban{padding-top: 60px;}
    
    /*****************CONTACT*****************/
    
    .cont-head h1{width: 420px;}
    
    /*****************SINGLE*****************/
    
    .pr-img{height: 350px;}
    
    .pr-img img{width: 350px;}
    
    .pr-share{width: 300px;}
    
    /*****************CART*****************/
    
    .ct-qty{margin-right: 20px;}
    
    .ct-bt-qty{
        padding: 5px 10px;
        width: auto;
        box-sizing: border-box;
    }
}

@media(min-width: 480px){

    /*****************HOMEPAGE*****************/
    
    /*CATEGORY*/

    .category-1, .category-2, .category-3, .category-4, .category-5, .category-6{height: 390px;}

    .fp-zoom{height: 450px;}

    .cat-name-1, .cat-name-2, .cat-name-3, .cat-name-4, .cat-name-5, .cat-name-6 {
        font-size: 1.7em;
        line-height: 60px;
        height: 60px;
    }

    .cat-overlay{height: 390px;}

    /*CATALOG*/

    .download-row{width: 330px;}
    
    .download-row a:nth-child(1), .download-row a:nth-child(3){margin-right: 60px;}

    /*****************PRODUCTS*****************/

    .sg-prod-cont {
        width: 48.1%;
        margin: 0;
        margin-top: 50px;
        display: inline-block;
    }

    .sg-prod-cont:nth-child(odd){margin-left: 15px;}

    .sg-prod-cont p{
        height: 140px;
        overflow: hidden;
    }

    .products-cont img{
        width: 200px;
        height: 140px;
    }

    .prod-des{height: 235px;}

    /*****************ABOUT*****************/

    .ab-article h1, .ab-work h1, .ab-contact h1{font-size: 2.7em;}

    .ab-ban h1{font-size: 1.4em;}
    
    /*****************SINGLE*****************/
    
    .pr-img{height: 400px;}
    
    .pr-img img{width: 420px;}
    
    .pr-cart-bt{float: left;}
    
    .pr-share{
        width: auto;
        margin-left: 20px;
        margin-top: 0;
    }
        
    /*****************CART*****************/
    
    .ct-td-fix form{margin-top: -10px;}
    
    .ct-qty{margin-right: 10px;}
}

@media(min-width: 600px){

    /*****************HOMEPAGE*****************/
    
    /*GALLERY*/

    .cover1 h1, .cover2 h1, .cover3 h1{margin-top: 30%;}

    /*CATEGORY*/

    .category-1, .category-2, .category-3, .category-4, .category-5, .category-6{height: 440px;}

    .fp-zoom{height: 500px;}

    .cat-name-1, .cat-name-2, .cat-name-3, .cat-name-4, .cat-name-5, .cat-name-6 {font-size: 1.6em;}

    .cat-overlay{height: 440px;}

    /*FEATURED*/

    .featured-content{height: 600px;}

    /*SHOPS*/

    .fp-shops{height: 550px;}

    .shops-overlay{height: 550px;}

    .shops-location1, .shops-location2{
        padding-left: 0;
        width: 230px;
    }
    
    .fp-shops article{
        display: inline-block;
        width: 560px;
        margin: 0 auto;
    }

    .shops-location2{margin-left: 60px;}

    .shops-location3{float: left;}
    
    .shops-location1 img, .shops-location2 img{float: left;}

    .location1-address p, .location2-address p{
        margin-top: 20px;
        padding-top: 0;
        margin-left: 15px;
        text-align: left;
    }
    
    .button-location{margin-top: 180px;}

    /*WHY US*/

    .fp-whywe{padding-bottom: 70px;}

    .fp-whywe article{text-align: center;}

    .why-us-row-1, .why-us-row-2{width: auto;}

    .why-us1, .why-us3{margin-left: 0;}

    .why-us1, .why-us2, .why-us3{margin-right: 40px;}

    .why-us4{margin-right: 0;}

    .why-us-row-2{margin-top: 0;}

    /*****************PRODUCTS*****************/

    .products-cont img{
        width: 260px;
        height: 180px;
    }

    /*****************ABOUT*****************/

    .ab-contact h1{font-size: 2.7em;}

    /*****************CONTACT*****************/
    
    .cont-head h1{width: 500px;}
    
    /*****************SINGLE*****************/
    
    .pr-img{height:500px;}
    
    .pr-img img{width: 540px;}
}

@media(min-width: 670px){
    
    /*****************HOMEPAGE*****************/
	
    /*GALLERY*/

    .fp-gallery{height: 550px !important;}

   /* .carousel-cell{height: 550px;}*/

    /*CATEGORY*/

    .category-1, .category-2, .category-3, .category-4, .category-5, .category-6{height: 470px;}

    .fp-zoom{height: 550px;}

    .cat-name-1, .cat-name-2, .cat-name-3, .cat-name-4, .cat-name-5, .cat-name-6 {
        font-size: 1.75em;
        height: 80px;
        line-height: 80px;
    }

    .cat-overlay{height: 470px;}

    /*FEATURED*/

    .featured-content{height: 650px;}

    /*****************PRODUCTS*****************/

    .sg-prod-cont {width: 48.75%;}

    .products-cont img{
        width: 290px;
        height: 200px;
    }

    /*****************ABOUT*****************/

    .ab-article p, .ab-work-article p{
        text-align: center;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        font-size: 1.2em;
        line-height: 1.45;
    }

    .ab-ban h1{font-size: 1.5em;}
    
    /*****************SINGLE*****************/
    
    .pr-img{height:550px;}
    
    .pr-img img{width: 610px;}
}

@media(min-width: 768px){

    /*CATEGORY*/

    .fp-category-list{padding-left: 0; padding-right: 0;}

    .category-1, .category-2, .category-3, .category-4, .category-5, .category-6{
        height: 290px;
        position: relative;
    }

    .cat-overlay{height: 290px;}

    .fp-zoom{
        height: 350px;
        width: 46%;
    }

    .cat-name-1, .cat-name-2, .cat-name-3, .cat-name-4, .cat-name-5, .cat-name-6 {
        font-size: 1.45em;
        height: 60px;
        line-height: 60px;
    }

    .fp-zoom:nth-child(2), .fp-zoom:nth-child(4), .fp-zoom:nth-child(6){
        float: right;
        margin-right: 20px;
    }

    .fp-zoom:nth-child(1), .fp-zoom:nth-child(3), .fp-zoom:nth-child(5){
        margin-left: 20px; 
        float: left;
    }
    
    /*CATALOG*/
    
    .download-row{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .download-row a{margin-top: 0; margin-right: 40px;}
    
    .download-row a:nth-child(1),.download-row a:nth-child(3){margin-right: 40px;}
    
    .download-row a:last-child{margin-right: 0;}

    /*****************PRODUCTS*****************/

    .sg-prod-cont {width: 48.95%;}

    .products-cont img{
        width: 330px;
        height: 230px;
    }

    /*****************ABOUT*****************/

    .ab-article p, .ab-work-article p{
        text-align: center;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        font-size: 1.2em;
        line-height: 1.45;
    }
    
    .ab-article h3{
        margin-top:30px;
        margin-bottom: -30px;
    }

    .ab-ban h1{
        font-size: 1.8em;
        text-align: center;
    }

    .ab-ban cite{
        text-align: center;
        width:100%;
        display: inline-block;
    }
    
    /*****************SINGLE*****************/
    
    .pr-img{
        width: 50%;
        height: 350px;
        margin-right: 25px;
        float:left;
    }
    
    .pr-img img{width: 350px;}
    
    .pr-detail{
        width: 46%;
        display:inline-block;
    }
    
    .pr-detail h1{margin-top:-10px;}
    
    .pr-cart-bt{float:none;}
    
    .pr-share{
        margin-top: 20px;
        margin-left: 0;
    }
    
    .pr-desc{margin-top:50px;}
}

@media(min-width: 850px){

    /*****************HOMEPAGE*****************/
    
    /*GALLERY*/

    .cover1 h1, .cover2 h1, .cover3 h1{margin-top: 25%;}

    /*.flickity-prev-next-button{
        display: block;
        margin-top: 170px;
    }*/

    /*CATEGORY*/

    .fp-zoom{width: 46.5%;}

    /*FEATURED*/

    .featured-content{height: 380px;}

    /*SHOPS*/
    
    .fp-shops{height: 400px;}

    .shops-overlay{height: 400px;}

    .fp-shops article{width:800px;}
    
    .shops-location1, .shops-location2, .shops-location3{
        float: left; 
        width: auto;
    }
    
    .shops-location2, .shops-location3{
        margin-top: 0; 
        margin-left: 47px;
    }
    
    .shops-location3{padding-left: 0;}
    
    .location1-address, .location2-address, .location3-address{float:left;}
    
    .button-location{margin-top: 140px;}

    /*WHY US*/

    .why-us1, .why-us2, .why-us3{margin-right: 80px;}

    /*NEWSLETTER*/

    .newsletter input{width: 500px;}

    #mc-embedded-subscribe{display: block;}

    /*****************PRODUCTS*****************/

    .products-cont img{
        width: 380px;
        height: 250px;
    }
    
    /*****************SINGLE*****************/
    
    .pr-img{height:400px;}
    
    .pr-img img{width: 390px;}
    
    .pr-share{width:250px;}
}

@media(min-width: 960px){

    /*****************HOMEPAGE*****************/
    
    /*CATEGORY*/

    .fp-zoom{width: 46.8%;}

    /*SHOPS*/

    .fp-shops article{width:900px;}
    
    .shops-location2{margin-left: 90px;}

    .shops-location3{margin-left: 90px;}

    /*CONTACT US*/

    .contact-info-group{
        margin: 0 auto;
        width: 600px;
    }

    .contact-info-group input{margin-right: 10px;}

    /*.contact-info-group input:last-child{margin-right: 0;}>*/

    .contactform textarea{
        height: 150px !important;
        width: 600px;
    }

    /*****************PRODUCTS*****************/

    .products-cont{
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }

    .sg-prod-cont {
        width: 31.85%;
        margin-right: 20px;
    }

    .sg-prod-cont:nth-child(odd){margin-left: 0;}

    .sg-prod-cont:nth-child(3n+4){margin-right: 0;}

    .sg-prod-cont:nth-child(even){margin-left: 0;}

    .sg-prod-cont h2{margin-right: 10px;}

    .products-cont img{
        width: 275px;
        height: 190px;
    }

    /*****************ABOUT*****************/
    
    .ab-work-article{
        text-align: left;
        height:255px;
        line-height: 255px;
    }

    .ab-work-article p{
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0;
        margin-left: 50px;
        padding-left: 0;
        padding-right: 0;
        height: auto;
        width: 68.9%;
    }

    .ab-pic1, .ab-pic2, .ab-pic3, .ab-pic4{
        float: left;
        height: 250px;
        width: 250px;
    }
    
    /*****************CONTACT*****************/
    
    .cont-map{
        width:50%;
        float: left;
        border-bottom: 2px solid #282828;
    }
    
    .cont-info-row4 .cont-map{border-bottom: none;}
    
    .cont-info{
        width: 50%;
        margin-top: 0;
        height: 550px;
    }
    
    /*****************SINGLE*****************/
    
    .pr-cart-bt{float: left;}
    
    .pr-img{height:450px;}
    
    .pr-img img{width: 450px;}
    
    .pr-share{
        width: auto;
        margin-left: 15px;
        margin-top: 0;
    }
    
    .pr-desc, .pr-desc h1 {text-align: center;}
    
}

@media(min-width: 1060px){
    
    /*****************HOMEPAGE*****************/
        
    /*GALLERY*/

   /* .carousel-cell img{width: 100%;}*/

   /* .flickity-prev-next-button{margin-top: 142px;}*/

    /*CATEGORY*/

    .category-1, .category-2, .category-3, .category-4, .category-5, .category-6{height: 330px;}

    .fp-zoom{
        width: 47%;
        height: 400px;
    }

    .cat-overlay{height: 330px;}

    .cat-name-1, .cat-name-2, .cat-name-3, .cat-name-4, .cat-name-5, .cat-name-6 {
        height: 70px;
        line-height: 70px;
    }

    /*FEATURED*/

    .featured-content{height: 500px;}

    .flickity-prev-next-button{top:33% !important;}

    .fp-text{width: 580px;}

    /*****************PRODUCTS*****************/

    .banner-top{
        height: 450px; 
        overflow: hidden;
    }

    .products-cont img{
        width: 310px;
        height: 210px;
    }

    /*****************SINGLE*****************/
    
    .pr-main{padding-top:50px;}
    
    .pr-img{height:480px;}
    
    .pr-img img{width: 500px;}
    
    .pr-desc{margin-top: 100px;}
}

@media(min-width: 1200px){
    
    /*****************HOMEPAGE*****************/

    /*GALLERY*/

    .fp-gal-1200{
        width:1200px;
        margin:0 auto;
        height:100%;
        display: inline-block;
    }

    .fp-gal-1200 h1{
        font-size: 3.5em;
        margin-top: 20%;
        width:400px;
        text-align: left;
    }

    .fp-gal-1200 img{
        float: right;
        margin-top: 13%;
        margin-right: 10%;
        height: 400px;
        width: 400px;
    }

    .fp-gallery{height: 650px !important;}

   /* .carousel-cell{height: 650px;}*/

    .flickity-prev-next-button{margin-top: 150px;}

    /*HEADER*/

    .width-1200{
        width: 1200px;
        margin: 0 auto;
    }

    /*CATEGORY*/

    .fp-category{
        width: 1186px;
        margin: 0 auto;
    }

    .category-1, .category-2, .category-3, .category-4{
        height: 220px;
        margin: 0;
        float: left;
    }

    .fp-zoom{height: 280px;}

    .cat-overlay{height: 220px;}

    .fp-zoom:nth-child(1){
        margin-left: 20px;
        margin-right: 20px;
        float: left;
        width: 62%;
    }

    .fp-zoom:nth-child(2){
        margin-right: 20px;
        width: 32.6%;
        margin-left: 0;
        float: left;
    }

    .fp-zoom:nth-child(3){
        float: left;
        margin-right: 20px;
        margin-left: 20px;
        width: 32.6%;
    }

    .fp-zoom:nth-child(4){
        float: left; 
        width: 62%;
    }

    .cat-name-1, .cat-name-2, .cat-name-3, .cat-name-4, .cat-name-5, .cat-name-6 {
        font-size: 1.35em;
        height: 60px;
        line-height: 60px;
    }

    /*FEATURED*/

    .fp-featured{
        width: 1200px !important;
        margin: 0 auto !important;
    }

    /*WHY WE*/

    .fp-whywe article{
        width: 1200px;
        margin: 0 auto;
        margin-top: 60px;
    }

    /*****************PRODUCTS*****************/

    .for-middle{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    
    .content-mid{
        display: inline-block;
        width: 1200px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .filter-cont{
        text-align: left;
        width: 20%;
        height: 550px;
        margin-left: 20px;
        margin-top: 135px;
        display: block;
        float: left;
    }

    .filter-cont h3:nth-child(3){margin-top: 40px;}
    
    .filter-cat-list{
        margin-top: 20px;
        line-height: 2;
        font-family: 'Roboto', cursive;
        font-size: 1.1em;
    }

    .filter-cat-list a:hover{color: #e85b5b;}

    .filter-cat-list .active {color: #e85b5b;}

    .products-cont{
        width: 73%;
        display: inline-block;
        margin-right: 0;
        margin-left: 0;
    }

    .products-title{text-align: left;}

    .products-title h1{font-size: 2.4em;}

    .sg-prod-cont {
        width: 31.7%;
        margin-right: 20px;
    }

    .products-cont img{
        width: 270px;
        height: 190px;
    }

    /*****************ABOUT*****************/

    .ab-article p{
        width: 900px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .ab-ban{
        padding-left:0;
        padding-right:0;
    }

    .ab-ban h1{
        width:1180px;
        margin: 0 auto;
    }
    
    .ab-work-article p{width: 73.5%;}

    /*****************SINGLE*****************/
    
    .pr-main{
        width: 1200px;
        margin: 0 auto;
    }
    
    .pr-img{
        height:520px;
        margin-right: 45px;
    }
    
    .pr-img img{width: 580px;}
    
    .pr-share{margin-left: 30px;}
    
    .pr-desc{margin-top: 150px;}
}

@media(min-width: 1250px){

    /*****************HOMEPAGE*****************/
    
    /*NAVIGATION*/

    .logo-header{margin-left: 0;}

    nav{margin-right: 0;}

    /*CATEGORY*/

    .fp-category{width: 1200px;}

    .category-1, .category-2, .category-3, .category-4, .cat-overlay{height: 240px;}

    .fp-zoom{height:300px;}

    .fp-zoom:nth-child(1){margin-left: 0; width: 64.1%;}

    .fp-zoom:nth-child(2){width: 34.2%; margin-right:0;}

    .fp-zoom:nth-child(3){margin-left: 0; width: 34.2%;}

    .fp-zoom:nth-child(4){width: 64.1%; margin-right: 0;}
    
    /*SHOPS*/
    
    .fp-shops article{width:1200px;}
    
    .shops-location2{margin-left: 250px;}

    .shops-location3{margin-left: 250px;}

    /*FEATURED*/

    .fp-featured{
        background-color: #eeeded;
        width: 100% !important;
        margin: 0 auto !important;
        margin-top: 30px !important;
        height: 600px;
    }

    .featured-content{height: 400px;}

    .gallery{
        width: 1000px;
        margin: 0 auto;
        background-color: #eeeded !important;
    }

    .fp-text{width: 500px;} 

    /*CONTACT*/

    .fp-contact{
        width: 1200px;
        margin: 0 auto;
    }

    .contactform{padding: 0;}

    /*****************PRODUCTS*****************/

    .filter-cont{
        margin-left: 0;
        margin-right: 30px;
    }

    .products-cont{width: 77.5%;}

    .sg-prod-cont {width: 31.7%;}

    .products-cont img{width: 290px;}

    /*****************ABOUT*****************/

    .ab-ban h1{width:1200px;}

    .ab-work{
        margin-left: 0;
        margin-right: 0;
        padding:0;
        padding-top: 40px;
        width: 1200px;
        margin: 0 auto;
    }
    
    .ab-work-article p{width: 75%;}
}

@media(min-width: 1380px){
    
    /*****************HOMEPAGE*****************/
    
    .fp-gallery{height: 750px !important;}

   /* .carousel-cell{height: 750px;}*/

    .flickity-prev-next-button{margin-top: 160px;}

    .cover1 h1{margin-left: 0;}

    /*WHY US*/

    .why-us1, .why-us2, .why-us3{margin-right: 160px;}
}

@media(min-width: 1600px){

    /*****************HOMEPAGE*****************/
    
    /*GALLERY*/

    .fp-gal-1200 h1{
        font-size: 3.8em;
        margin-top: 25%;
    }

    .fp-gal-1200 img{
        margin-right: 0;
        width: 550px;
        height: 550px;
    }

    /*WHY US*/

    .why-us1, .why-us2, .why-us3{margin-right: 200px;}
}